.LogoutBox, .BtnBox {
    display: flex;
    flex-direction: row;
}

.LogoutBox > button, .BtnBox > button {
    margin: 0 7px;
}

.LogoutBox p {
    color: grey;
    font-size: large;
}

.OrderCounter {
    margin-right: 5px;
}
