.FilterList {
    margin-right: 20px;
    width: 250px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.HeaderList {
    padding: 0.5rem;
    text-align: center;
    background-color: #ececec;
}

li {
    list-style: none;
    display: flex;
    flex-direction: row;
}

input[type=checkbox] {
    margin: .4rem .3rem;
}

#label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-wrap: none;
}
