.OrderBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.OrderBox > p {
    display: flex;
    justify-content: center;
}

.OrderItem {
    position: relative;
    width: 95%;
    margin: 5px 0;
}

.DeleteOrderItem {
    position: absolute;
    right: 3%;
}

.DeleteOrderItem > i {
    font-size: x-large;
}

.collapse {
    text-align: center;
    width: 50%;
}

.card-body > form > button {
    margin-top: 5px;
}
