table {
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

th, td {
    border: 1px solid #dedede;
    padding: 10px;
}

tr:hover {
    background-color: #dedede;
}

th {
    background-color: #dedede;
}

.searchField {
    width: 100%;
    border: none;
    /*border: 2px solid #878787;*/
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 10px;
}

.tableAndGlobalFilter {
    width: 100%;
}

.checkBoxFilter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.filterItem {
    padding: 0 7px;
    cursor: pointer;
}

.filterItem > input {
    margin-right: 3px;
}

.filterItem:hover {
    color: #36678f;
}

.BtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

input[type=number] {
    width: 50px;
    margin-right: 5px;
}
